<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="adventure-works" connectionString=""/>
    <add name="adventure-works-token" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <add key="ida:AadInstance" value="https://login.microsoftonline.com/"/>
    <add key="ida:TenantId" value="your-tenant-id"/>

    <add key="ida:ClientId" value="your-client-id" />


    <!-- Having a client secret in the configuration file is a security hole - not as bad as having a password in configuration or code,
         but it is an exposure point. -->
    <add key="ida:ClientSecret" value="your-client-secret" />

    <add key="AwDbResource" value="https://database.windows.net/" />

    <add key="CertificateThumbprint" value="1400438ee32ac45e715c17a46a89855a0f00ed5c" />
  </appSettings>
</configuration>